.container{
  border: 1px solid red;
  width: 1200px;
  height: auto;
}


.row {
  background-color: black;
  height: 100px;
  margin-top: 100px;
}
#theimage {
  position: relative;
  left: 0px;
}

#theimage2 {
  position: relative;
  left: 0px;
}

h1{
  text-align: center;
}
.message{
  font-weight:bold;
  text-align: center;
}
