.container{
  border: 1px solid red;
  height: auto;
  width: 1200px;
  background: blue;
}

.score{
  font-size: 18px;
  background-color: black;
  border-radius: 6px;
  width: 500px;
  margin: 0 auto;
}
.row {
  background-color: gray;
  height: 200px;
  margin-top: 20px;
}
img {
  vertical-align: middle;
}
#theimage {
  position: relative;
  left: 0px;
}

#theimage2 {
  position: relative;
  left: 0px;
}

h1{
  text-align: center;
}
.message{
  font-weight:bold;
  text-align: center;
}
.col-sm-1{
   line-height: 200px;
}
